input{
  margin: .3em 0;
}

.App {
  text-align: center;
  margin-top: 1em
}

@media screen and (min-width:400px){

  span{
    position: absolute;
    width: 100%;
    left: 0;
    margin-top: 50px;
    font-size: 1.5em;
    color: white;
    text-shadow: 0 0 5px black;
  }

  .linea2{
    margin-top: 400px;
  }
  
}

@media screen and (max-width:400px){
  span{
    position: absolute;
    width: 100%;
    left: 0;
    margin-top: 50px;
    font-size: 1.5em;
    color: white;
    text-shadow: 0 0 5px black;
  }
  
  .linea2{
    margin-top: 350px;
  }
  
  img{
    width: 100%;
  }
  
}
